@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

html {
    width: 100%;
    height: 100%;;
}

/* VARIABLES */
:root {
    /* COLORS */
    --mgc-color-000: white;
    --mgc-color-025: #cdcdcd;
    --mgc-color-050: grey;
    --mgc-color-100: black;
  
    --mgc-color-white: var(--mgc-color-000);
    --mgc-color-light-grey: var(--mgc-color-025);
    --mgc-color-grey: var(--mgc-color-050);
    --mgc-color-black: var(--mgc-color-100);
  
    /* SPACINGS */
    --mgc-margin-xs: 10px;
    --mgc-margin-s: 20px;
    --mgc-margin-m: 30px;
    --mgc-margin-l: 40px;
    --mgc-margin-xl: 50px;
    --mgc-margin-xxl: 80px;
  
    --mgc-padding-xs: 10px;
    --mgc-padding-s: 20px;
    --mgc-padding-m: 30px;
    --mgc-padding-l: 40px;
    --mgc-padding-xl: 50px;
  
    --mgc-gap-xxs: 5px;
    --mgc-gap-xs: 10px;
    --mgc-gap-s: 20px;
    --mgc-gap-m: 30px;
    --mgc-gap-l: 40px;
    --mgc-gap-xl: 50px;  
  
    /* FONT SIZES */
    --mgc-font-size-xxs: 0.6rem;
    --mgc-font-size-xs: 0.7rem;
    --mgc-font-size-s: 0.9rem;
    --mgc-font-size-m: 1.5rem;
    --mgc-font-size-l: 2rem;
    --mgc-font-size-xl: 3rem;
    --mgc-font-size-xxl: 4rem;
  
    /* RADIUS */
    --mgc-border-radius-s: 2px;
    --mgc-border-radius-m: 5px;
    --mgc-border-radius-l: 10px;
    --mgc-border-radius-xl: 50px;
  
}

.flex-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.flex-container-column {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilos para el header */

#appHeader {
    width: 100vw;    
    padding: var(--mgc-padding-l);
}

#logoPhinterest {
    width: 30px;
    object-fit: contain;
}

#navMenu {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--mgc-gap-s);
}

#navMenu li {    
    cursor: pointer;
    font-size: var(--mgc-font-size-xs);
    padding: var(--mgc-padding-xs);
    color: var(--mgc-color-grey);
    border-radius: var(--mgc-border-radius-xl);
}

#navMenu li:hover {
    background-color: var(--mgc-color-light-grey);
}

#navMenu li:first-child {
    color: var(--mgc-color-white);
    background-color: var(--mgc-color-black);
}

.div-search-container {
    width: 65%;
    display: flex;
    align-items: center;
    gap: var(--mgc-gap-xs);
}

.icons-list-header {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--mgc-gap-m);
}

.icons-list img {
    width: 15px;
}

/* Fin estilos para el header */

#app {
    width: 100%;    
    min-height: 100svh;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: var(--mgc-padding-m) var(--mgc-padding-s);
}

main{
    padding: var(--mgc-padding-l);
    min-height: 90svh;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 100%;
    height: 50%;
    gap: var(--mgc-gap-s);
}

.grid-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--mgc-border-radius-l);
}

/* Media queries */

@media (max-width: 1000px) {

    #navMenu {
        gap: var(--mgc-gap-xs);
    }
}


@media (max-width: 900px)
{
    .div-search-container {
        width: 100%
    }
    #navMenu {
        display: none;
    }
    .icons-list-header {
        display: none;
    }
    #logoPhinterest {
        margin-right: var(--mgc-padding-xs);
    }
}

@media (max-width: 600px)
{
    /* .div-search-container {
        display: none;
    } */
}